{{ define "404"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/404.css">
    <title>ERREUR 404</title>
</head>

<body>
    <div id="allContent">
        <div id="rainbow-right">
            <img src="./static/img/rainbow.gif" alt="">
        </div>


        <div id="principalContent">
            <img src="./static/img/wtf.gif" alt="">
            <h1>ERREUR 404</h1>
        </div>


        <div id="rainbow-left">
            <img src="./static/img/rainbow.gif" alt="">
        </div>
    </div>


</body>

</html>
{{end}}